@media (min-width: 1200px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  form {
    padding: 2rem;
  }
  .signlog {
    margin: 2rem;
  }
  input {
    width: 100%;
  }
  label {
    width: 100%;
  }

  .icon-position i {
    position: absolute;
    bottom: 50%;
  }
}